*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wrapper{
    background: #ecececec;
    padding: 0 20px 0 20px;
}
.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}.right{
    justify-content: center;
   align-items: center;
   align-content: center;
    
}
.side-image{
  
  background-image: url('download.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-radius: 10px 0 0 10px;
    

}
.row{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.5);

}
.input-box{
justify-content: center;
box-sizing: border-box;
margin-top: 70px;
}
.input-field{
    
    width: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px;
    
}input{
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    outline: none;
    color: black;
}.submit{
    justify-content: center;
    align-items: center;
    width: 250px;
    margin-left: 50px;
    border: none;
    transition: 0.5s;
    background-color: rgb(187, 223, 235);
    border-radius: 4px;
}header{
    
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: rgb(189, 13, 42);
}.input-box.input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: 0.5s;
}.input-field.input:focus ~ label{
    top: -10px;
    font-size: 10px;
}.submit:hover{
    background-color:rgb(179, 75, 101);
}
span{
    
    color: rgb(5, 95, 173);
    
}.signin{
    padding-top: 5%;
    margin-left: 25%;
    
}a{
    color: red;
}